<configuration>
	<system.webServer>
	 <rewrite>
  <rules>
    <rule name="fss" stopProcessing="true">
	<match url="(.*)"  />
	<conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />  
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
		<add input="{URL}" negate="true" pattern="webroot/css\.css$" /> 
		<add input="{URL}" negate="true" pattern="webroot/js\.js$" /> 
		<add input="{REQUEST_URI}" pattern="^/(testf1)" negate="true" />

      </conditions>

	<action type="Rewrite" url="webroot/index.php/{R:1}"  />
</rule>

  </rules>
</rewrite>
	<httpErrors errorMode="Detailed" />
	</system.webServer>

</configuration>


