<configuration>
	
	<system.web>
        <customErrors mode="Off" />
        <compilation debug="true" />
    </system.web>
	<system.webServer>
	 
	 <rewrite>
  <rules>
    <rule name="rule 1t" stopProcessing="true">
	<match url="(.*)"  />
	 <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />  
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
		<add input="{URL}" negate="true" pattern="webroot/css\.css$" /> 
		<add input="{URL}" negate="true" pattern="webroot/js\.js$" /> 
		<add input="{REQUEST_URI}" pattern="^/webroot/testf1" negate="true" />
		<add input="{REQUEST_URI}" pattern="^/webroot/index.php/testf1" negate="true" />
		<add input="{REQUEST_URI}" pattern="^/css" negate="true" />
		<add input="{REQUEST_URI}" pattern="^/js" negate="true" />
      </conditions>
	<action type="Rewrite" url="/index.php/{R:1}"  />
</rule>

  </rules>
</rewrite>
	<httpErrors errorMode="Detailed" />
	</system.webServer>

</configuration>


